@font-face
  font-weight: normal
  font-family: "PT Sans Narrow"
  font-style: normal
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff")

@font-face
  font-weight: bold
  font-family: "PT Sans Narrow"
  font-style: normal
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff")

body
  min-width: 320px
  margin: 0
  padding: 0
  font-size: 18px
  line-height: 27px
  font-family: "PT Sans Narrow", "Arial", sans-serif
  color: #f7f4f1
  font-style: normal
  background-color: $bg-darkgrey

img
  max-width: 100%
  height: auto

.visually-hidden:not(:focus):not(:active)
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect (0 0 0 0)
	overflow: hidden

.button
  display: inline-block
  padding: 18px 0
  min-width: 160px
  font-size: 18px
  line-height: 24px
  color: #000
  text-transform: uppercase
  text-decoration: none
  text-align: center
  background-color: transparent
  border: 1px solid #e5ddd5
  &:hover
    border-color: #d5c9bd
  &:active
    color: rgba(#000000, 0.3)
    background-color: #d5c9bd
    border-color: #d5c9bd

.slider
  &__list
    display: flex
    flex-direction: column
    align-items: center
  &__item
    position: relative
  &__toggle
    position: relative
    margin-right: 40px
    @include button-reset
    &:focus
      outline: none
    &:focus::after
      border: 2px solid #826550
    &::after
      content: ""
      position: absolute
      display: block
      width: 10px
      height: 10px
      box-sizing: border-box
      transform: rotate(45deg)
      background-color: transparent
      border: 1px solid #a5a5a5
    &:hover::after
      border: 1px solid #d5c9bd
    &:last-child
      margin-right: 0
    &--active::after
      border: none
      &--active::after
      border: none
    