.stats
  width: 320px
  margin: 0 auto
  &__header
    padding: 30px 40px 25px
  &__list
    width: 100%

@media (min-width: $tablet-width)
  .stats
    width: 640px
    margin-top: -185px
  &__list
    display: flex

@media (min-width: $desktop-width)
  .stats
    display: flex
    width: 960px
    margin-top: -160px
    &__header
      width: 240px
    &__list
      width: 640px